// https://site112.com/tabela-cores-html
$cinza: #282828;
$cinzaEscuro: #2b2c2c;
$azul:  #0199b0;
$roxo:  #592f83;

$importFonteRegular: 'https://fonts.googleapis.com/css?family=Montserrat&display=swap';
$importFonteMedium:  'https://fonts.googleapis.com/css?family=Montserrat:500&display=swap';
$importFonteSemiBold:  'https://fonts.googleapis.com/css?family=Montserrat:600&display=swap';
$importFonteBold:    'https://fonts.googleapis.com/css?family=Montserrat:700&display=swap';
$importFonteLight:   'https://fonts.googleapis.com/css?family=Montserrat:300&display=swap';

$fonteDefault: 'Montserrat', sans-serif;


$break-small:  750px;
$break-medium: 970px;
$break-large:  1170px;

