@import '../../../static/scss/constants.scss';

@import url($importFonteBold);
@import url($importFonteRegular);

.boxquemsomos1{
    img{
        max-width: 100%;
    }
}
.boxquemsomos2{
    font-family: $fonteDefault;
    color: $cinza;
    p{
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        word-break: break-all;
    }
}

@media (max-width: 767px) {
    #main{
        .boxquemsomos1, .boxquemsomos2{
            padding: 0;
        }
    }
}